*{
    font-family: 'Baloo Bhai', cursive;
    color: white;
    margin: 0%;
    padding: 0%;
    background-image: url(moon-2048727_1280.jpg);
}

.left {
    display: inline-block;
    position: absolute;
    width: 100px;
    top: 20px;
    left: 35px;
}

.left img {
    width: 89px;
}

.left div {
    line-height: 18px;
    font-size: 16px;
    text-align: center;
}

.mid {
    display: block;
    width: 620px;
    margin: 33px auto;

}

.navbar {
    display: inline-block;
}

.navbar li {
    display: inline-block;
    font-size: 24px;
}

.navbar li a {
    text-decoration: none;
    padding: 0px 23px;
}
.navbar li a {
    text-decoration: none;
    padding: 0px 23px;
}
.navbar li a:hover{
    background-color: rgba(212, 212, 220, 0.411);   
}
.navbar li a:active{
    text-decoration: underline;
}
.right {
    display: inline-block;
    position: absolute;
    width: 100px;
    top: 26px;
    right: 75px;
}

.right input {
    text-align: center;
    display: block;
    width: 150px;
    padding: 1px;
    border: 2px solid rgb(83, 80, 80);
    margin: 11px auto;
    font-size: 15px;
    border-radius: 8px;
}

.container {
    border: 2px solid white;
    margin: 106px 80px;
    padding: 75px;
    width: 41%;
    border-radius: 28px;
}

h1 {
    text-align: center;
}

.form-group {
    font-family: 'Baloo Bhai', cursive;
    text-align: center;
    display: block;
    width: 400px;
    padding: 1px;
    border: 2px solid black;
    margin: 11px auto;
    font-size: 25px;
    border-radius: 8px;
}

.btn {
    font-family: 'Baloo Bhai', cursive;
    display: block;
    width: 75%;
    margin: 20px auto;
    cursor: pointer;
    
}
.btn:hover{
    background-color: rgba(212, 212, 220, 0.411);
}
